@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --nav-height:20vh;
  --white-color:rgba(255, 255, 255, 0.753);
}
.navbar-content{
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: var(--white-color) !important;
  height: var(--nav-height);
}
.Izquierda{
  padding-left: 40px !important;
  color: var(--white-color) !important;
}
.Izquierda>a{
  color: var(--white-color) !important;
}
.Login-btn>a{
  color: var(--white-color) !important;
}
.white-btn{
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
.white-btn>a{
  color: #FF505C;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.white-btn:hover{
  background-color: #FF7B86;
 }
.white-btn>a:hover{
  color: white !important;
}
.Hero-section{
  height: 90vh;
  background: linear-gradient(135deg, rgba(255,143,113,1) 10%, rgba(255,62,85,1) 100%);
  border-bottom-left-radius: 100px 100px ;
}

.hero-content{
  height: 50vh !important;
  font-family: 'Overpass', sans-serif;
}
.hero-text > h1{
  font-weight: 700;
  color:white;
  font-size: 4em;
}
.hero-text > span{
  font-weight: 300;
  color: white;
  font-size: 1.25em;
  padding-bottom: 47px;
}
.outline-btn{
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid white;
  margin-left: 20px;
}
.outline-btn>a{
  color: white;
}
.outline-btn:hover{
  background-color: white;
}
.outline-btn>a:hover{
  color: #FF7B86!important;
}
 .bg-hero-section{
  background-image: url("../src/images/bg-pattern-intro.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 90vh;
  z-index: 0;
}
.design-section{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.txt-design{
  padding-top: 7.25em;
  font-family: 'Overpass', sans-serif;
}
.txt-design>h2{
  color: #1F3E5A;
  font-weight: 600;
  font-size: 40px;
}
.design-content{
  height: 70vh;
}
.image-section{
  position: relative;
}
.image-section>img{
  /* transform:translate(20em,-10em);  */

  position: absolute;
  width: 130%;
  left: 10rem;
  top: -8em;
  bottom: 0rem; 
} 
.txt-article{
  padding-top: 5.875em;
  max-height: 70vh;
}
.design-article__title{
  color:#1F3E5A;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Overpass', sans-serif;
  padding-bottom: 17px;
}
.design-article__text{
  color:#4C5862;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Overpass', sans-serif;
  width: 90%;

}

.introduce_article{
  padding-bottom: 80px !important;
}
.section-infraestructure{
  height: 45vh;
  background: linear-gradient(135deg, #2D2E40 10%, #3F4164 100%);
  border-bottom-left-radius: 100px 100px ;
  border-top-right-radius: 100px 100px ;
}
.img-structure{
  position: relative;
}
.img-structure>img{
  position: absolute;
  top:-5em ;
}
.Infrastrucure-txt>h2{
  color:white;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}
.Infrastrucure-txt>p{
  color:white;
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
  font-size: 1em;
}
.image-powerfull{
  position: relative;
}
.image-powerfull>img{
  /* transform:translate(20em,-10em);  */
  position: absolute;
  left: -30rem;
  bottom: -10rem;

} 
.powerful-section{
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}
.powerful-content{
  height: 70vh;
}
.Powerful-article__title{
  color:#1F3E5A;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Overpass', sans-serif;
  padding-bottom: 17px;
}
.Powerful-article__text{
  color:#4C5862;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Overpass', sans-serif;
}
.footer-section{
  background-color: #24242C;
  height: 40vh;
  border-top-right-radius: 100px 100px ;
}
.list-footer{
  list-style-type: none;
}
.footer-title{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 2.563em;
}
.footer-link{
  color: var(--white-color);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 1.25em;
}